{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "php", "json", "yaml", "bash"],
          "plugins": [],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }