@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Space+Mono:400,700');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 * 
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
 @tailwind preflight;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

  @import '../../../node_modules/prismjs/themes/prism-okaidia.css';
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, you should import this line from it's own file:
  * 
  * @import "./tailwind-utilities.css";
  *
  * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

html, body {
    @apply .bg-grey-lightest
}

h1, h2, h3, h4, h5, h6 {
    @apply .font-sans .font-medium .tracking-wide .mt-8 .mb-2
}

p {
    @apply .my-4
}

a {
    @apply .text-indigo-dark
}

pre, pre[class*="language-"] {
    @apply .my-8 .font-mono
}

code[class*="language-"], pre[class*="language-"] {
    @apply .font-mono .text-sm
}

code {
    @apply .text-xs .font-mono .bg-indigo-lightest .p-1 .text-indigo
}

hr {
    @apply .my-8 .h-auto .block;
}

hr::before {
    content: "* * *";
    @apply .tracking-wide .italic .text-grey;
}

@screen md {
    .js-menu {
        display: block !important;
    }
}

.menu-link {
    @apply .block .py-4 .text-sm .text-white .no-underline .font-light .border-0
}

@screen md {
    .menu-link {
        @apply .inline-block .mr-4 .text-indigo-dark .border-b .border-indigo-dark .pb-1 .text-base
    }
}

/** home **/
.home h1 {
    @apply .text-indigo
}

.home ul {
    @apply .list-reset .my-4 .text-xs .flex .justify-between
}

.home ul li {
    @apply .my-8
}

.home ul li:before {
    content: "";
    @apply .block .my-2 .w-8 .border-t .border-indigo;
}

.home ul li a {
    @apply .block .no-underline .text-sm
}

@screen sm {
    .home ul li a {
        @apply .text-base
    }
}

/** blog list **/
.blog-list h2 {
    @apply .mt-16 .uppercase .text-sm .font-normal .tracking-wide .text-grey
}

.blog-list ul {
    @apply .list-reset .mt-4
}

.blog-list li {
    @apply .my-4
}

.blog-list li a {
    @apply .no-underline
}

.blog-list p {
    @apply .leading-loose;
}

/** single blog post **/
@screen md {

    .single-blog-post > p:first-of-type {
        @apply .-mx-4 .my-6 .text-lg
    }

    .single-blog-post pre[class*="language-"] {
        @apply .-mx-8
    }

}


@screen md {    
    .single-blog-post > p:first-of-type {
        @apply .-mx-12
    }

    .single-blog-post pre[class*="language-"] {
        @apply .-mx-12
    }

    .single-blog-post img {
        @apply .-mx-12 .my-4;
        max-width: calc(100% + 6rem)
    }

}