
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Normalize
@import "node_modules/normalize.css/normalize";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 1.8;
}

body {
    color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.no-flex {
    display: block;
    padding-top: 3rem;
}

a {
    color: rgba(0,0,0,0.8);
    transition: all 200ms;    
}

a:not(.no-hover):hover {
    background-color: rgba(0,0,0,1);
    color: rgb(255,255,255);
}

p {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.content {
    max-width: 480px;
    text-align: center;
}

.circle {
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 50%;
}

.social a {
    background-image: url('../images/social.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    margin: 7px;
    text-indent: -99999px;
    width: 32px;
    
    &:hover {
        opacity: .9;
        transition: opacity .25s;
    }
}

.twitter {
    background-position:0 0
}
.facebook{
    background-position:-32px 0
}
.xing {
    background-position:-64px 0
}
.linkedin {
    background-position:-96px 0
}
.instagram {
    background-position:-128px 0
}

.footer {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    height: 32px;
    justify-content: center;
}